<div class="container-fluid">
    <div class="row" >
        <div class="main">
            <div class="left">
                <h2>Always loaded and profitable</h2>
                <div class="d-flex">
                    <img src="assets/1.png" alt="" width="124px" height="36px">
                    <img src="assets/2.png" alt="" width="124px" height="36px">
                </div>
                <div class="para">
                    <p>feulixDispatch</p>
                </div>
                <div>
                    <p>We are working with</p>
                    <img src="assets/3.png" alt="" width="218px" height="40px">
                </div>

            </div>
            <div class="right">
                <div><span>Home  </span> <span>  Plan & Pricing  </span> <span>  Our Team</span></div>
                <div>dispatch@feulix.com</div>
                <div>Phone: (409) 215-5774</div>
                <div>Working hours:<br>Mon-Fri: 7am - 5pm</div>
                <div>Dispatchers:24/7</div>
                <div>5900 Balcones Drive #12918 Austin, TX 78731, USA</div>
            </div>
        </div>
        <p class="text-center">© 2024 Genius Dispatch by Ingenious Industry LLC. Powered by insignecreative.com</p>

    </div>
</div>