<div class="main-div">
    <div>
      <h1 class="heading">
        Streamline Your Operations with Our Comprehensive FMCSA & DOT
        Compliance Solutions.
      </h1>
    </div>
    <div class="p-heading">
      <p class="para">
        Ensuring FMCSA (Federal Motor Carrier Safety Administration) and DOT
        (Department of Transportation) compliance is critical for your
        trucking company to operate legally and safely. Our comprehensive
        compliance solutions streamline your operations by providing expert
        guidance on everything from driver qualification to vehicle
        maintenance, electronic logging devices (ELDs), and more.
      </p>
      <p class="para-1">
        We keep up with the latest regulations and help you stay compliant,
        minimizing the risk of fines, penalties, and other consequences. With
        our services, you can focus on your core business while we handle all
        your FMCSA and DOT compliance needs.
      </p>
    </div>
    <div class="logo">
      <img src="assets/ingenious.png" alt="logo" />
    </div>
  </div>

  <div class="main-card">
    <div class="flex">
      <div class="card">
        <h2 class="ifta">IFTA Reporting</h2>
        <p class="para-2">
          Our IFTA preparation and <br />filing services help trucking
          companies streamline the process of reporting and paying fuel taxes
          across multiple jurisdictions. We provide expert assistance with
          accurate calculation, preparation, and filing of IFTA reports while
          ensuring compliance with all applicable rules and regulations.
        </p>
        <button class="button">Select</button>
      </div>
      <div class="card">
        <h2 class="ifta">Trucking Permits</h2>
        <p class="para-2">
          Our IFTA preparation and <br />filing services help trucking
          companies streamline the process of reporting and paying fuel taxes
          across multiple jurisdictions. We provide expert assistance with
          accurate calculation, preparation, and filing of IFTA reports while
          ensuring compliance with all applicable rules and regulations.
        </p>
        <button class="button">Select</button>
      </div>
      <div class="card">
        <h2 class="ifta">State and Federal</h2>
        <p class="para-2">
          Our IFTA preparation and <br />filing services help trucking
          companies streamline the process of reporting and paying fuel taxes
          across multiple jurisdictions. We provide expert assistance with
          accurate calculation, preparation, and filing of IFTA reports while
          ensuring compliance with all applicable rules and regulations.
        </p>
        <button class="button">Select</button>
      </div>
      <div class="card">
        <h2 class="ifta">Driver Compliance</h2>
        <p class="para-2">
          Our IFTA preparation and <br />filing services help trucking
          companies streamline the process of reporting and paying fuel taxes
          across multiple jurisdictions. We provide expert assistance with
          accurate calculation, preparation, and filing of IFTA reports while
          ensuring compliance with all applicable rules and regulations.
        </p>
        <button class="button">Select</button>
      </div>
    </div>
  </div>

  <div class="dog" style="position: relative">
    <img
      src="../../../assets/Section → Section.png"
      alt="dog"
      class="dog-img"
      style="display: block; width: 100%"
    />
    <h2
      style="
        position: absolute;
        top: 55%;
        left: 80%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 29px;
        font-family: sans-serif;
        font-weight: bolder;
        line-height: 41px;
      "
    >
  
    </h2>
  </div>
  <div class="main-card-2">
    <div class="free">
      <div>
        <h1 class="get">Get Free Consultation</h1>
      </div>

      <div class="hassan">
        <div>
          <label>Name</label>
          <div><input type="tex" class="type" /></div>
        </div>
        <div>
          <label>Telephone</label>
          <div><input type="number" class="type" /></div>
        </div>
        <div>
          <label>Email*</label>
          <div><input type="email" class="type" /></div>
        </div>
        <div>
          <button class="BTN-1">Send</button>
        </div>
      </div>
    </div>
  </div>