<div class="main">
    <div class="left">
        <h1>Welcome to the Most Reliable
            Dispatch Company in North
            America.</h1>
        <br>

        <br>
        <p>We find the best paying loads in the market.</p>
        <p> Get a dedicated dispatcher assigned for you and don't worry any
            more about spending time looking for loads or empty miles.</p>
        <br>
        <br>

        <button>Hire a dispatcher today </button>
    </div>

    <div class="right">
        <div>
            <img class="image" src="assets/dis.svg" alt="">
        </div>

    </div>
</div>



<div class="main2">
    <div class="left2">
        <img class="image2" src="assets/banner.svg" alt="">
    </div>

    <div class="right2">
        <h1>Hit the road on your terms, you're the boss
        </h1>
        <br>

        <br>
        <p>Loads, rates and routes are your choice, no force dispatching. We
            make sure you get the best freight at the best rate and get paid
            on time. Documentation, prices and fees are disclosed upfront.</p>

        <br>
        <br>
    </div>
</div>



<div class="container-fluid main3 ">
    <img src="assets/Group 1000004735.svg" alt="" width="100%" height="100%">

</div>




<div class="main4">
    <div class="heading">
        <h1>Getting started is easy</h1>
    </div>
    <div class="parent">
        <div class="items">
            <img src="assets/Group.png" alt="" width="72px" height="60px">
            <h5>Send Documents</h5>
            <p>MC Authority, Certificate of
                Insurance and W-9 Form</p>
            <button>Send documents</button>


        </div>
        <div class="items">
            <img src="assets/Frame1.png" alt="" width="87px" height="65px">
            <h5>Sign Agreement</h5>
            <p>Sign a quick and easy
                dispatch service level
                agreement.</p>
            <button>Request Agreement</button>


        </div>
        <div class="items">
            <img src="assets/Frame.png" alt="" width="105px" height="60px">
            <h5>Hit the road</h5>
            <p>We start dispatching your
                truck immediately.</p>
            <button>Hire a dispatcher</button>


        </div>
    </div>
</div>