@mixin button {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        background-color: rgb(24, 24, 24);
    }

}
@mixin input{
    width: 90%;
    background-color: rgb(229, 207, 194);
    border: none;
    outline: none;
    height: 48px;
    margin: 10px 0;
    padding-inline:10px ;
    &::placeholder{
        color:#E87700;
       
     
    }
}
.main {
    display: flex;

    flex-direction: row;
    margin: auto;
    width: 90%;

    .left {
        padding: 100px 0;
        width: 50%;
        margin: auto;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 40px;
            font-style: italic
        }

        p {
            font-size: 18px;
        }

        button {
            @include button();

        }

    }

    .right {
        width: 50%;
        text-align: center;
        margin: auto;

        image {
            width: 600px;
            height: 700px;
        }
    }


}

// section 2


.main2 {
    display: flex;

    flex-direction: row;
    margin: auto;
    width: 90%;

    .left2 {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .right2 {
        padding: 100px 0;
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .image2 {
        width: 500px;
        height: 600px;
    }
}

//  section 3


.main3 {
    width: 90%;
    margin: auto;
    text-align: center;
}


// section 4
.main4 {
    .heading {
        h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            font-style: italic;
        }
    }

    .parent {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 80px;
        margin-top: 80px;

        .items {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 20px;
            width: 310px;

            h5 {
                font-size: 20px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                font-weight: 400;
            }

            button {
                @include button();

            }
        }
    }
}





.main5 {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;

    .left5 {
        width: 40%;

        button {
            @include button();
        }
    }

    .right {
        width: 40%;
        text-align: center;
    }

    .image5 {
        width: 400px ;
        height: 550px ;
    }

}



.main6{
    .iner{
        width: 70%;
        margin: auto;
        padding: 100px;
    }
    width: 100%;
    background-color:var(--primary-color);
    text-align: center;
    color: white;
    h1{
        font-size: 38px;
        font-weight: 600;
      font-style: italic
    }
    button{
        @include button();
        border: 1px solid white;
    }
}



.main7{
    background-image: url('../../../assets/Container.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    color: white;
    .back{
        width: 50%;
        margin-left: 150px;
        padding-top: 170px;
        h1{
            font-size: 38px;
            font-weight: 700;
            font-style: italic;
        }
        button{
            @include button();
        }
    }
}




.main8{
    padding: 100px 0px;
    background-color: rgb(240, 218, 194);
    color: #E87700;
    .parent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        .des{
            width: 20%;
            h1{
                font-size: 32px;
                font-weight: 700;
                font-style: italic;
            }
            p{
                font-size: 16px;
            }
        }
        ._right{
            width: 60%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .left-form{
                accent-color: rgb(232, 119, 0);
                width: 45%;
                input[type="text"]{
                  @include input();
                }
                input[type="email"]{
                    @include input();
                }
                select{
                    @include input();
                    color: #E87700;
                    option{
                          background-color: rgb(229, 207, 194);
                          color: #E87700;
                    }
                }
            }
            .right-form{
                width: 45%;
                input{
                    @include input();
                }
                button{
                    width: 90%;
                    @include button();
                }
            }
           
        }

    }
}









@media (max-width:1100px) {

    .main,
    .main2 {
        flex-direction: column;

    }

    .left,
    .left2,.left5 {
        width: 100% !important;
    }

    .right,
    .right2 {
        width: 100% !important;
    }
    .iner{
        width: 85% !important;
        padding: 25px !important;
    }
    .back{
        width: 80% !important;
        margin: auto !important;
    }



}

@media (max-width:700px) {

    .image {
        width: 400px !important;
        height: 500px !important;
    }

    .image2,.image5 {
        width: 350px !important;
        height: 400px !important;
    }
    .iner{
        width: 95% !important;
        padding: 15px !important;
    }
    .back{
        width: 90% !important;
        margin: auto !important;
    }
}
@media (max-width:550px) {

    .image5,.image,.image2 {
        width: 300px !important;
        height: 400px !important;
    }
    .back{
        width: 95% !important;
        margin: auto !important;
    }

}