<div class="container d-flex  my-5" style="justify-content: space-around;">
    <div class="card" style="width: 18rem; box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.75);">
        <div style="background-image: url(assets/truck.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        width: revert;
        background-position: bottom;
        text-align: center;
        align-content: center;
        color: white;
        font-size: xxx-large;
        font-weight: 900;">
            7%
        </div>

        <div class="card-body">
            <h5 class="card-title text-center">Flat rate per load. </h5>
            <div class=" text-center" style="background-color: rgb(211, 194, 195);text-align: center !important;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bolder;">1 Truck</div>
        </div>


    </div>
    <div class="card" style="width: 18rem; box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.75);">
        <div style="background-image: url(assets/truck.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        width: revert;
        background-position: bottom;
        text-align: center;
        align-content: center;
        color: white;
        font-size: xxx-large;
        font-weight: 900;">
            6%
        </div>

        <div class="card-body">
            <h5 class="card-title text-center">Flat rate per load. </h5>
            <div class=" text-center" style="background-color: rgb(211, 194, 195);text-align: center !important;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bolder;"> 2-3 Truck</div>
        </div>


    </div>
    <div class="card" style="width: 18rem; box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.75);">
        <div style="background-image: url(assets/truck.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        width: revert;
        background-position: bottom;
        text-align: center;
        align-content: center;
        color: white;
        font-size: xxx-large;
        font-weight: 900;">
            5%
        </div>

        <div class="card-body">
            <h5 class="card-title text-center">Flat rate per load. </h5>
            <div class=" text-center" style="background-color: rgb(211, 194, 195);text-align: center !important;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bolder;">+3</div>
        </div>


    </div>
    <div class="card" style="width: 18rem; box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.75);">
        <div style="background-image: url(assets/truck.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        width: revert;
        background-position: bottom;
        text-align: center;
        align-content: center;
        color: white;
        font-size: xxx-large;
        font-weight: 900;">
            $60
        </div>

        <div class="card-body">
            <h5 class="card-title text-center">Flat rate per load </h5>
            <div class=" text-center" style="background-color: rgb(211, 194, 195);text-align: center !important;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bolder;">Back Office Services</div>
        </div>
 

    </div>
</div>